<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Tarjetas Giratorias</title>
</head>

<body>
    <div class="title_cards">
        <img src="/public/images/banner_avengers.jpg" alt="">
    </div>

    <div class="cards">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/BlackPanther.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>BLACK PANTHER</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/BlackWidow.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>BLACK WIDOW</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/BrujaScarlatta.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>BRUJA SCARLATTA</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/CapitanaMarvel.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>CAPITANA MARVEL</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/CapitanAmerica.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>CAPITAN AMERICA</h2>
                </div>
            </div>
        </div>
    </div>
   
    <div class="cards">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/DoctorStrange.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>DOCTOR STRANGE</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Falcon.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>FALCON</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Gamora.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>GAMORA</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Halcon.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>HALCON</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Hulk.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>HULK</h2>
                </div>
            </div>
        </div>
    </div>
   
    <div class="cards">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/IronMan.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>IRON MAN</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/IronWoman.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>IRON WOMAN</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Mantis.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>MANTIS</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/MáquinadeGuerra.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>MAQUINA DE GUERRA</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Nebula.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>NEBULA</h2>
                </div>
            </div>
        </div>
    </div>
   
    <div class="cards">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Rocket&Groot.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>ROCKET & GROOT</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Shuri.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>SHURI</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/SoldadodeInvierno.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>SOLDADO DEL INVIERNO</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/spiderMan.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>SPIDERMAN</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/StarLord.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>STAR LORD</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="cards">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/TheWasp.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>THE WASP</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Thor.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>THOR</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Vision.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>VISION</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Wong.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>WONG</h2>
                </div>
            </div>
        </div>
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/AntMan.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>ANT MAN</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="cards">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Drax.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>DRAX</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/NickFury.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>NICK FURY</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/Okoye.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2>OKOYE</h2>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/background-card2.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2></h2>
                </div>
            </div>
        </div>
          <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/public/images/background-card2.jpg" alt="" />
                </div>
                <div class="flip-card-back">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>